:root {
    --primary-dark: #333;
    --primary-blue: #0E6CC8;
    --secondary-blue: #7FBFFD;
    --primary-grey: #ededed;

    --header-height: 54px;
    --footer-height: 0px;
    --footer-padding: 0px;
    --main-height: calc(100vh - var(--header-height)
                    - calc(var(--footer-height) + var(--footer-padding) + var(--footer-padding))); 
    --sidebar-width: 22vw;
    
    --header-font: 24px;
    --body-font: 18px;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

#header { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header-height);
    padding-left: 22px;
    padding-right: 22px;
    gap: 20px;

    position: relative;
    font-size: var(--header-font);
    /* font-weight: bold; */
    background-color: var(--primary-blue);
    color: var(--primary-grey);
    z-index: 1;
}

#left-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: var(--header-height);
}

#main {
    display: flex;

    margin-bottom: calc(var(--footer-height) + 2*var(--footer-padding));
    position: relative;
    min-height: var(--main-height);
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--primary-grey);

    position: absolute;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    min-height: var(--main-height);

    box-shadow: 5px 0px 10px 1px lightgrey;
    z-index: 0;
}

#sidebar_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    padding-top: 42px;
    padding-left: 20px;
    padding-bottom: 20px;

    color: var(--primary-blue);
    font-size: var(--header-font);
}

.new-proj-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    cursor: pointer;

    /* margin-left: 20px; */
    height: 42px;
    min-width: 100%;

    /* border: 1px solid black; */
    color: var(--primary-blue);
}

.sidebar-icon {
    font-size: 22px;
    padding-left: 20px;
}

.sidebar-btn:hover {
    background-color: lightgray;
}

#task-page {
    display: flex;
    flex-direction: column;
    background-color: white;

    position: absolute;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    min-height: var(--main-height);
    z-index: -1;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 100%;
    height: var(--footer-height);
    padding-top: var(--footer-padding);
    padding-bottom: var(--footer-padding);
    font-size: var(--body-font);
    color: var(--primary-grey);
    background-color: var(--secondary-blue);
    z-index: 1;
}

.fa-github {
    color: var(--primary-grey);
    transition: 0.5s ease;
    font-size: 32px;
}

.fa-github:hover {
    transform: scale(1.2) rotate(360deg);
}