:root {
    --primary-dark: #333;
    --primary-blue: #0E6CC8;
    --secondary-blue: #7FBFFD;
    --primary-grey: #EDEDED;
    --secondary-grey: #B5B5B5;

    --header-height: 54px;
    --footer-height: 0px;
    --footer-padding: 0px;
    --main-height: calc(100vh - var(--header-height)
                    - calc(var(--footer-height) + var(--footer-padding) + var(--footer-padding))); 
    --sidebar-width: 22vw;
    
    --header-font: 20px;
    --body-font: 16px;
    --icon-font: calc(var(--body-font) + 4px);
}

body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

#header { 
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: var(--header-height);
    padding-left: 22px;
    padding-right: 22px;
    gap: 20px;

    position: relative;
    font-size: var(--header-font);
    /* font-weight: bold; */
    background-color: var(--primary-blue);
    color: var(--primary-grey);
    z-index: 1;
}

#left-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: var(--header-height);
}

#main {
    display: flex;

    margin-bottom: calc(var(--footer-height) + 2*var(--footer-padding));
    position: relative;
    min-height: var(--main-height);
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--primary-grey);

    position: absolute;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    min-height: var(--main-height);

    box-shadow: 5px 0px 10px 1px lightgrey;
    z-index: 0;
}

#sidebar_header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    padding-top: 42px;
    padding-left: 20px;
    padding-bottom: 20px;

    color: var(--primary-dark);
    font-size: var(--header-font);
}

.sidebar-icon {
    font-size: var(--icon-font);
    padding-left: 20px;
    color: var(--secondary-grey);
}

.sidebar-btn {
    height: 40px;
    cursor: pointer;
}

.sidebar-btn:hover {
    background-color: white;
}

#new-proj-comp {
    display: flex;
}

#new-proj-sub-comp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    width: 100%;
    color: var(--primary-blue);
}

#new-proj-sub-comp-input {
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: var(--body-font);
    color: var(--primary-dark);
    width: 100%;
}

#new-proj-sub-comp-input::placeholder {
    color: var(--primary-blue);
}

#new-proj-sub-comp-input:focus::placeholder {
    color: var(--secondary-grey);
}

#new-proj-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--icon-font);
    color: var(--primary-blue);
    padding-left: 12px;
    cursor: pointer;
}

/* Task page */
#task-page {
    display: flex;
    flex-direction: column;
    background-color: white;

    position: absolute;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100vw - var(--sidebar-width));
    min-height: var(--main-height);
    z-index: -1;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 100%;
    height: var(--footer-height);
    padding-top: var(--footer-padding);
    padding-bottom: var(--footer-padding);
    font-size: var(--body-font);
    color: var(--primary-grey);
    background-color: var(--secondary-blue);
    z-index: 1;
}

.fa-github {
    color: var(--primary-grey);
    transition: 0.5s ease;
    font-size: calc(var(--header-font) + 8px);
}

.fa-github:hover {
    transform: scale(1.2) rotate(360deg);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}